{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":2,"column":13},"action":"remove","lines":["certifi==2020.6.20","chardet==3.0.4","coverage==5.1"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":4},"end":{"row":5,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1593539122086,"hash":"aef1d8e8755849c72fbee7380824b5f97bc7ab21"}